@import "base.scss";

// G L O B A L - L A Y O U T  ______________________________
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  background: $whiteBG;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: $Poppins;
  background: $blackBG;
}

// L A N D I N G - L A Y O U T ______________________________
.Landing {
  padding: 15rem 18rem 15rem 20rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-family: inherit;
  color: $primary-color;
}

.Landing-TitleText-1,
.Landing-TitleText-2 {
  font-family: $Poppins;
  font-weight: weight(regular);
  font-size: size(regular);
}

.Landing-Subtitle {
  color: $whiteBG;
  font-family: $Poppins;
  font-size: size(large);
}

.Landing-List {
  padding: 1rem 0 0 0;

  font-size: size(small);
}

.Landing-Item {
  padding: 0.5rem 0;
  color: $whiteBG;
}

.Landing-Btn {
  margin: 0.5rem 0;
  padding: 1rem 2rem;

  background-color: $primary-color;
  color: $whiteBG;

  border-width: 0px;
  border-radius: 50px;
  a {
    font-size: size(x-small);
    color: inherit;
  }
}

.Landing-Img {
  width: 40%;
  height: auto;
}

//______________________________ Landing iPad Pro / 12-15in Laptops
@media (max-width: 2000px) {
  .Landing {
    margin: 0;
    padding: 10rem 0;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  .Landing-TitleText-1,
  .Landing-TitleText-2 {
    font-size: size(medium);
  }

  .Landing-Subtitle {
    margin: 0 2rem;
    font-size: size(regular);
  }

  .Landing-List {
    padding: 1rem 0;
    font-size: size(small);
  }

  .Landing-Item {
    padding: 0.5rem 0;
  }

  .Landing-Btn {
    margin: 0.5rem 0;
    padding: 1rem 2rem;
  }

  .Landing-Img {
    width: 30%;
    height: auto;
  }
}

//Making images responsive
@media (max-width: 1750px) {
  .Landing {
    padding: 8rem 5rem;
  }

  .Landing-Img {
    width: 30%;
    height: auto;
  }
}

// Making image responsive
@media (max-width: 1500px) {
  .Landing {
    margin: 0;
    padding: 8rem 3rem;
  }

  .Landing-Img {
    width: 30%;
    height: auto;
  }
}

//Making images responsive
@media (max-width: 1250px) {
  .Landing {
    padding: 8rem 5rem;
  }

  .Landing-Img {
    width: 40%;
    height: auto;
  }
}

//______________________________ Landing iPad
@media (max-width: 868px) {
  .Landing {
    margin: 0;
    padding: 8rem 2rem;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  .Landing-Img {
    padding: 2rem 0;
    width: 50%;
    height: auto;
  }

  .Landing-TitleText-1,
  .Landing-TitleText-2 {
    background: none;
    font-size: size(medium);
  }

  .Landing-Subtitle {
    margin: 0 1rem;
    font-size: size(regular);
  }
  .Landing-List {
    padding: 1rem 0 0 0;
    background: none;
    font-size: size(small);
  }
}

// ______________________________ Landing Mobile
@media (max-width: 680px) {
  .Landing {
    margin: 5rem 0 0 0;
    padding: 3rem 0 10rem 0;
  }

  .Landing-Img {
    padding: 2rem 0 0 0;
    width: 50%;
    height: auto;
  }

  .Landing-TitleText-1,
  .Landing-TitleText-2 {
    font-size: size(small);
  }

  .Landing-Subtitle {
    font-size: size(medium);
    padding: 0;
    margin: 0;
  }
  .Landing-List {
    padding: 1rem 0 0 0;

    font-size: size(x-small);
  }
}
@media (max-width: 340px) {
  .Landing {
    margin: 3rem 0 0 0;
    padding: 3rem 0 10rem 0;
  }

  .Landing-Subtitle {
    margin: 0;
  }
}

// A B O U T - L A Y O U T ______________________________

.About-Header {
  background: $whiteBG;

  font-weight: weight(regular);
  font-size: size(med-large);

  color: $primary-color;

  padding: 15rem 23rem 0rem 23rem;
}

.About {
  padding: 0rem 20rem 15rem 18rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background: $whiteBG;
}

.About-Text {
  background-color: $whiteBG;

  padding: 3rem 4rem;
  margin: 0 4rem 0 1rem;

  letter-spacing: 1px;
}

.About-Title {
  font-family: $Poppins;
  font-weight: weight(med-large);
  font-size: size(large);
}

.About-Paragraph {
  padding: 5px 0;

  font-family: $Poppins;

  font-weight: weight(regular);
  font-size: size(x-small);
}

.About-Img {
  width: 40%;
  height: auto;

  border-radius: 10px;
}

.About-Btn {
  margin: 0.5rem 0;
  padding: 1rem 2rem;
}

//______________________________ About iPad Pro / 12-15in. Laptops
@media (max-width: 1700px) {
  .About-Header {
    font-weight: weight(regular);
    font-size: size(regular);

    padding: 10rem 0 0 8rem;
  }

  .About {
    margin: 0;
    padding: 0rem 8rem 20rem 8rem;

    display: flex;
    flex-flow: row nowrap;
  }

  .About-Text {
    padding: 0;
    margin: 2rem 3rem 2rem 0;

    h1 {
      padding: 1rem 0 0 0;
    }

    p {
      padding: 1rem 0;
    }
  }

  .About-Title {
    font-family: $Poppins;
    font-weight: weight(medium);
    font-size: size(regular);
  }

  .About-Paragraph {
    padding: 1rem;
    font-family: $Poppins;

    font-weight: weight(regular);
    font-size: size(xx-small);
  }

  .About-Img {
    border-radius: 20px;

    width: 40%;
    height: auto;

    transform: translateY(0%) translateX(5%);
  }
}
//______________________________
@media (max-width: 1500px) {
  .About-Header {
    font-weight: weight(regular);
    font-size: size(regular);

    padding: 10rem 5rem 0 5rem;
  }

  .About {
    margin: 0;
    padding: 0 3rem 15rem 5rem;

    display: flex;
    flex-flow: row nowrap;
  }

  .About-Text {
    padding: 1rem 0;
    margin: 0;

    h1 {
      padding: 1rem 0 0 0;
    }

    p {
      padding: 1rem 0;
    }
  }

  .About-Title {
    font-family: $Poppins;
    font-weight: weight(medium);
    font-size: size(regular);
  }

  .About-Paragraph {
    padding: 1rem;

    font-family: $Poppins;

    font-weight: weight(regular);
    font-size: size(xx-small);
  }

  .About-Img {
    border-radius: 20px;

    width: 40%;
    height: auto;
  }
}

//______________________________ About iPad
@media (max-width: 968px) {
  .About-Header {
    font-weight: weight(regular);
    font-size: size(regular);

    padding: 10rem 0 0 3rem;
  }

  .About {
    margin: 0;
    padding: 0 3rem 15rem 3rem;

    display: flex;
    flex-flow: column nowrap;
  }

  .About-Text {
    padding: 1rem 0;
    margin: 0;

    h1 {
      padding: 1rem 0 0 0;
    }

    p {
      padding: 1rem 0;
    }
  }

  .About-Title {
    font-family: $Poppins;
    font-weight: weight(medium);
    font-size: size(regular);
  }

  .About-Paragraph {
    padding: 1rem;

    font-family: $Poppins;

    font-weight: weight(regular);
    font-size: size(xx-small);
  }

  .About-Img {
    width: 50%;
    height: auto;

    transform: translateY(20%) translateX(10%);
  }
}

// ______________________________ About Mobile
@media (max-width: 680px) {
  .About-Header {
    font-weight: weight(regular);
    font-size: size(medium);
    // To fix a weird black dent that would appear
    padding: 10rem 0 0 3rem;
  }

  .About {
    margin: 0;
    padding: 0rem 3rem 10rem 3rem;
  }

  .About-Text {
    padding: 0;
    margin: 0;
  }

  .About-Title {
    font-family: $Poppins;
    font-weight: weight(medium);
    font-size: size(regular);
  }

  .About-Paragraph {
    padding: 5px 0;

    font-weight: weight(regular);
    font-size: size(xx-small);
  }

  .About-Img {
    display: none;
  }
}

// S E R V I C E S - L A Y O U T ______________________________

.Services-Header {
  background: $whiteBG;

  color: $primary-color;

  padding: 0rem 23rem 5rem 24rem;

  h1 {
    font-weight: weight(regular);
    font-size: size(med-large);
  }
}

.Services {
  font-family: $Poppins;

  background: $whiteBG;
  color: $blackBG;

  padding: 0rem 15rem 10rem 23rem;

  display: flex;
  flex-flow: row nowrap;
}

.Card-Wrapper {
  background: $whiteBGCard;
  box-shadow: $shadow2;

  border-radius: 20px;

  margin: 0 4rem 0 0;
  padding: 5rem 3rem 5rem 3rem;
}

.Card-Title {
  font-weight: weight(medium);
  font-size: size(regular);
}

.Card-Paragraph {
  font-weight: weight(regular);
  font-size: size(x-small);
}

// ______________________________ Services
@media (max-width: 1700px) {
  .Services-Header {
    padding: 0rem 5rem 5rem 8rem;

    h1 {
      font-weight: weight(regular);
      font-size: size(regular);
    }
  }

  .Services {
    font-family: $Poppins;

    background: $whiteBG;
    color: $blackBG;

    padding: 0rem 5rem 10rem 8rem;

    display: flex;
    flex-flow: row nowrap;
  }

  .Card-Wrapper {
    margin: 0 4rem 0 0;
    padding: 5rem 3rem;
  }
}
// ______________________________ iPad Pro Services
@media (max-width: 1500px) {
  .Services-Header {
    padding: 0rem 5rem 5rem 5rem;
  }

  .Services {
    padding: 0rem 5rem 10rem 5rem;
  }

  .Card-Wrapper {
    margin: 0 2rem 0 0;
    padding: 5rem 1rem;
  }

  .Card-Title {
    font-weight: weight(medium);
    font-size: size(regular);
  }

  .Card-Paragraph {
    font-weight: weight(regular);
    font-size: size(xx-small);
  }
}

// ______________________________ iPad Services
@media (max-width: 1100px) {
  .Services-Header {
    padding: 5rem 3rem 1rem 3rem;

    h1 {
      font-weight: weight(regular);
      font-size: size(regular);
    }
  }

  .Services {
    padding: 0rem 3rem 15rem 3rem;

    display: flex;
    flex-flow: column wrap;
  }

  .Card-Wrapper {
    margin: 2rem 0;
    padding: 2rem 1rem;
  }

  .Card-Title {
    font-weight: weight(medium);
    font-size: size(medium);
  }

  .Card-Paragraph {
    font-weight: weight(regular);
    font-size: size(xx-small);
  }
}

// ______________________________ Phone Services
@media (max-width: 680px) {
  .Services-Header {
    padding: 5rem 3rem 1rem 3rem;

    h1 {
      font-weight: weight(regular);
      font-size: size(medium);
    }
  }

  .Services {
    padding: 0rem 3rem 10rem 3rem;

    display: flex;
    flex-flow: column nowrap;
  }

  .Card-Wrapper {
    margin: 2rem 0;
    padding: 2rem 1rem;
  }

  .Card-Title {
    font-weight: weight(medium);
    font-size: size(medium);
  }

  .Card-Paragraph {
    font-weight: weight(regular);
    font-size: size(xx-small);
  }
}

//  G A L L E R Y  L A Y O U T ______________________________
.Gallery {
  background: $whiteBG;

  padding: 15rem 20rem 15rem 24rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  padding: 0;
  margin: 0;
}


.Gallery-card {
  margin: 4rem 8rem 4rem 0;

  position: relative;
  height: 470px;
  width: 340px;

  display: block;

  box-shadow: $shadow2;
}

// #first-card {
//   margin-left: 10rem;
// }

.Gallery-card:hover {
  box-shadow: 2px 5px 30px 3px rgba(30, 30, 60, 0.4);
  transition: 0.8s;
  
}

.Gallery-card .Gallery-card-image {
  background: $blackBG;

  height: 400px;
  overflow: hidden;

  transition: 0.1s linear;
}

.Gallery-card-image img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.Gallery-card:hover .image img {
  opacity: 0.6s;
  transform: scale(1.1);
}

.Gallery-card .Gallery-card-content {
  border: none;
  border-radius: 15px;

  position: absolute;
  bottom: 0px;
  background: $white;
  width: 100%;
  text-align: center;

  padding: 20px 30px;
}

.Gallery-card-content .Gallery-card-title {
  font-size: 22px;
  font-weight: 600;
}

.Gallery-card-content .Gallery-card-sub-title {
  font-size: 18px;
  font-weight: 500;
  color: $primary-color;
  margin-bottom: 10px;
}

.Gallery-card-bottom p {
  color: $blackBG;
  font-size: size(x-small);
  line-height: 1.5em;
  text-align: center;
}

.Gallery-card-bottom button {
  border: none;
  border-radius: 10px;

  text-align: center;
  padding: 7px 15px;

  font-size: 17px;
  font-weight: 500;

  background: $primary-color;
  color: $whiteBG;

  margin: 1rem 0;

  cursor: pointer;
  transition: 0.2s ease;
}

.Gallery-card-bottom button:hover {
  transform: scale(0.99);
  transition: 0.2s ease;
  background: $blackBG;
  color: $whiteBG;
}
