@import "base.scss";

// G L O B A L - L A Y O U T
* {
  padding: 0;
  margin: 0;
}

// L A N D I N G - L A Y O U T
.Landing {
  padding: 15rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.Landing-List {
  padding: 1rem 0 0 0;
}

.Landing-Item {
  padding: 0.5rem 0;
}

.Landing-Btn {
  margin: 0.5rem 0;
  padding: 1rem 2rem;
}

.Landing-Img {
  width: 50%;
  height: auto;
}
// ----------- M O B I L E
@media (max-width: 375px) {
  .Landing {
    margin: 0;
    padding: 10rem 0;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  .Landing-List {
    padding: 1rem 0;
  }
  
  .Landing-Item {
    padding: 0.5rem 0;
  }
  
  .Landing-Btn {
    margin: 0.5rem 0;
    padding: 1rem 2rem;
  }
  
  .Landing-Img {
    display: none;
  }
}


// A B O U T - L A Y O U T
.About {
  padding: 15rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.About-Text {
  padding: 2rem 5rem;
  margin: 0 1rem;
}
.About-Img {
  width: 40%;
  height: auto;
}

.About-Btn {
  margin: 0.5rem 0;
  padding: 1rem 2rem;
}

// ----------- M O B I L E
@media (max-width: 375px) {
  .About {
    margin: 0;
    padding: 5rem 1rem;

    display: flex;
    flex-flow: column nowrap;
  }

  .About-Text {
    padding: 0;
    margin: 0;
  }
  .About-Img {
    display: none;
  }
  
  .About-Btn {
    margin: 1rem 0;
    padding: 1rem 2rem;
  }
}


// G A L L E R Y  - L A Y O U T
// .Gallery {
//   margin: 15rem;
// }

// .Gallery-List {
//   display: flex;
//   flex-flow: row wrap;
// }
// .Gallery-Items {
//   width: 30%;
//   height: auto;

//   padding: 1rem;
// }
