@import "base.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* GLOBAL CSS ************************************************************** */

body {
  font-family: $Poppins;
}

/* TEMPLATE LAYOUT CSS ************************************************************** */

// .section {
//   padding: 4rem 0 4rem 0;

//   &__wrapper {
//     width: 1300px;

//     display: block;
//     margin-left: auto;
//     margin-right: auto;

//     text-align: left;
//     justify-content: left;
//   }
// }

// @media (max-width: 1350px) {
//   .section {
//     &__wrapper {
//       width: 900px;
//     }
//   }
// }

// @media (max-width: 900px) {
//   .section {
//     padding: 12rem 0 4rem 0;

//     &__wrapper {
//       width: 600px;
//     }
//   }
// }

// @media (max-width: 600px) {
//   .section {
//     &__wrapper {
//       width: 320px;
//     }
//   }
// }

/* HEADER CSS ************************************************************** */

.landing {
  background: hsl(0, 0%, 0%);

  color: $white;
  width: 100%;
  min-height: 90vh;
  padding: 100px;

  &__wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 200px 100px;

    text-align: center;
    z-index: 1;

    h2 {
      font-size: $fs-large;
      font-weight: $fw-mid;
      text-decoration: underline;
    }
    h1 {
      font-size: $fs-xx-large;
      font-weight: $fw-semi-bold;
      margin: 30px 0;
    }

    p {
      font-size: $fs-x-small;
      font-weight: $fw-low;
    }
  }

  .landing__buttons {
    padding: 0 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    a {
      margin: 30px 20px 5px 20px;
      padding: 15px 0;

      color: $white;

      text-decoration: none;

      p {
        font-size: $fs-x-small;
        font-weight: $fw-semi-bold;
        color: inherit;
      }
    }
  }

  video {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;

    width: 100%;
    height: 90%;

    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .landing {
    &__wrapper {
      padding: 150px 20px;
    }
  }
}

@media (max-width: 1000px) {
  .landing {
    &__wrapper {
      padding: 150px 20px;

      h1 {
        font-size: $fs-x-large;
      }

      p {
        font-size: $fs-xx-small;
      }
    }

    .landing__buttons {
      padding: 0;
      display: flex;
      flex-flow: column nowrap;
      a {
        padding: 10px 0;
        p {
          font-size: $fs-x-small;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .landing {
    padding: 0px;
    min-height: 90vh;

    &__wrapper {
      padding: 150px 20px;

      .landing__buttons {
        a {
          i {
            display: none;
          }
          p {
            font-size: $fs-xx-small;
          }
        }
      }
    }

    video {
      height: 90%;
    }
  }
}

@media (max-width: 340px) {
  .landing {
    padding: 0px;
    min-height: 110vh;

    &__wrapper {
      padding: 60px 20px;

      h1 {
        font-size: $fs-large;
      }
    }

    video {
      height: 110%;
    }
  }
}
/* ABOUT ME CSS ************************************************************** */

.about {
  display: flex;

  &__header-container {
    width: 50%;
    padding: 250px 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("/assets/images/about-img.jpg");
    background-size: cover;

  }

  &__text-container {
    width: 50%;
    padding: 150px 0px 150px 100px;
    background-color: $white;
    color: $black;
    line-height: 1.8;

    h1 {
      color: $black;
      font-weight: $fw-semi-bold;
      font-size: $fs-x-large;
      text-decoration: underline;

    }

    p {
      letter-spacing: 2px;
      font-size: $fs-xxx-small;
      font-weight: $fw-mid;
    }
  }
}

@media (max-width: 700px) {
  .about {
  display: flex;
  flex-flow: column nowrap;

  &__header-container {
    width: 100%;
    padding: 200px 0;
  }

  &__text-container {
    width: 100%;
    padding: 100px 30px 150px 50px;
  }
}
}



/* SERVICES CSS ************************************************************** */
.services {
  display: flex;

  &__header-container {
    width: 50%;
    padding: 200px 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("/assets/images/services-img.jpg");
    background-size: cover;

    text-align: center;
  }

  &__list-container {
    width: 50%;
    padding: 100px 10px 150px 100px;
    background-color: $white;
    color: $black;
    line-height: 1.8;

    h1 {
      color: $black;
      font-weight: $fw-semi-bold;
      font-size: $fs-x-large;
      text-decoration: underline;

    }

    ul {
      list-style: circle;

      li {
        letter-spacing: 2px;
        font-size: $fs-xxx-small;
        font-weight: $fw-mid;
      }
    }
  }
}

@media (max-width: 700px) {
  .services {
    display: flex;
    flex-flow: column-reverse nowrap;


    &__header-container {
      width: 100%;
      padding: 200px 0;
    }

    &__list-container {
      width: 100%;
      padding: 100px 10px 150px 50px;
    }
  }
}

/* Quote CSS ************************************************************** */
.quote {
  padding: 100px;
  line-height: 1.5;

  .quote__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quote__contact {
    width: 50%;

    h1 {
      font-size: $fs-x-large;
      font-weight: $fw-semi-bold;
      padding-right: 10px;
      text-decoration: underline;

    }

    p {
      letter-spacing: 1px;
      font-size: $fs-xxx-small;

      padding-bottom: 10px;
      padding-right: 20px;
    }

    a {
      color: $black;
      p {
        letter-spacing: 1px;
        font-weight: $fw-semi-bold;
      }
    }
  }

  .quote__image {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1110px) {
  .quote {
    padding: 100px 50px;

    .quote__container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .quote__contact {
      width: 50%;
      h1 {
        font-size: $fs-medium;
        padding-right: 10px;
      }

      p {
        letter-spacing: 1px;
        padding-bottom: 10px;
        padding-right: 20px;
      }

      a {
        color: $black;
        p {
          letter-spacing: 1px;
          font-weight: $fw-semi-bold;
        }
      }
    }

    .quote__image {
      width: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (max-width: 730px) {
  .quote {
    .quote__container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
    .quote__contact {
      width: 100%;
    }
    .quote__image {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* FOOTER CSS ************************************************************** */
footer {
  padding: 70px 200px;
  background-color: $white;
  color: $black;

  display: flex;
  flex-flow: row wrap;

  .footer__group-1 {
    width: 33.3%;
    padding-right: 5rem;

    img {
      width: 140px;
      margin-bottom: 20px;
    }
    p {
      font-size: $fs-xxx-small;
      font-weight: $fw-semi-bold;
      line-height: 1.6;
    }
  }

  .footer__group-2 {
    width: 38%;

    h1 {
      font-size: $fs-xx-small;
      font-weight: $fw-bold;
      margin-bottom: 1rem;
      text-decoration: underline;

    }
    a {
      font-size: $fs-xxx-small;
      color: $black;

      p {
        margin-bottom: 1rem;
      }
    }
  }

  .footer__group-3 {
    width: 27%;

    h1 {
      font-size: $fs-xx-small;
      font-weight: $fw-bold;
      margin-bottom: 1rem;
      text-decoration: underline;

    }
    a {
      font-size: $fs-xxx-small;
      color: $black;

      p {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 1110px) {
  footer {
    padding: 40px 50px;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 40px 20px;

    display: flex;
    flex-flow: column wrap;

    .footer__group {
      width: 100%;
      margin: 20px;
      padding: 0;
    }
  }
}
