@import "base.scss";

// G L O B A L - T Y P O G R A P H Y
html {
  scroll-behavior: smooth;
  background: $whiteBG;
  text-decoration: none;
  list-style: none;
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: $Poppins;
}

// L A N D I N G - T Y P O G R A P H Y ______________________________

.Landing-Title {
  font-size: size(super-large);
  font-weight: weight(medium);
  color: $black;
  // z-index: -1;
}

.Landing-Subtitle {
  font-size: size(medium);
  font-weight: weight(medium);

  letter-spacing: 1px;
  color: $primary-color;
}

.Landing-Item {
  letter-spacing: 1px;
  font-size: size(small);
  font-weight: weight(medium);
}

.Landing-Btn {
  color: $white;
  background: $primary-color;

  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;

  letter-spacing: 2px;
  font-size: size(small);
  font-weight: weight(regular);

  a {
    color: inherit;
  }
}

//______________________________ Landing iPad Pro / 12-15in Laptops
@media (max-width: 1500px) {
  .Landing-Title {
    font-size: size(large);
    font-weight: weight(medium);
  }

  .Landing-Subtitle {
    font-size: size(regular);
    font-weight: weight(medium);
  }

  .Landing-Item {
    letter-spacing: 1px;
    font-size: size(medium);
    font-weight: weight(medium);
  }

  .Landing-Btn {
    letter-spacing: 0px;
    font-size: size(small);
    font-weight: weight(med-low);
  }
}

//______________________________ Landing iPad
@media (max-width: 868px) {
  .Landing-Title {
    font-size: size(med-large);
    font-weight: weight(medium);
  }

  .Landing-Subtitle {
    font-size: size(medium);
    font-weight: weight(medium);
  }

  .Landing-Item {
    letter-spacing: 1px;
    font-size: size(small);
    font-weight: weight(medium);
  }

  .Landing-Btn {
    letter-spacing: 1px;
    font-size: size(small);
    font-weight: weight(med-low);
  }
}

//______________________________ Landing Mobile
@media (max-width: 680px) {
  .Landing-Title {
    font-size: size(regular);
    font-weight: weight(medium);
  }

  .Landing-Subtitle {
    font-size: size(small);
    font-weight: weight(medium);
  }

  .Landing-Item {
    letter-spacing: 1px;
    font-size: size(xtra-small);
    font-weight: weight(medium);
  }

  .Landing-Btn {
    letter-spacing: 1px;
    font-size: size(xtra-small);
    font-weight: weight(med-low);
  }
}

// A B O U T - T Y P O G R A P H Y ______________________________
.About {
  background: $blackBG;
}
.About-Text {
  color: $whiteBG;

  font-size: size(medium);
  font-weight: weight(medium);

  p {
    font-weight: weight(regular);
  }

  .About-Btn {
    color: $white;
    background: $primary-color;

    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;

    letter-spacing: 2px;
    font-size: size(small);
    font-weight: weight(regular);

    a {
      color: inherit;
    }
  }
}

//______________________________ About iPad Pro / 12-15in Laptops
@media (max-width: 1500px) {
  .About-Text {
    color: $whiteBG;

    font-size: size(medium);
    font-weight: weight(regular);

    // text-align: center;

    p {
      font-size: size(medium);
    }

    .About-Btn {
      font-size: size(medium);
      font-weight: weight(med-low);
    }
  }
}


//______________________________ About iPad
@media (max-width: 868px) {
  .About-Text {
    color: $whiteBG;

    font-size: size(medium);
    font-weight: weight(regular);

    // text-align: center;

    p {
      font-size: size(medium);
    }

    .About-Btn {
      font-size: size(small);
      font-weight: weight(low);
    }
  }
}


// ______________________________ About Mobile
@media (max-width: 680px) {
  .About-Text {
    font-size: size(small);
    font-weight: weight(med-low);

    // text-align: center;

    p {
      font-size: size(xtra-small);
    }

    .About-Btn {
      font-size: size(small);
      font-weight: weight(low);
    }
  }
}


