@import "base.scss";

// G L O B A L - T Y P O G R A P H Y
html {
  scroll-behavior: smooth;
  background: $whiteBG;
  text-decoration: none;
  list-style: none;
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: $Poppins;
}

// L A N D I N G - T Y P O G R A P H Y

.Landing-Title {
  font-size: size(super-large);
  font-weight: weight(medium);
  color: $black;
  // z-index: -1;
}

.Landing-Subtitle {
  font-size: size(medium);
  font-weight: weight(medium);

  letter-spacing: 1px;
  color: $primary-color;
}

.Landing-Item {
  letter-spacing: 1px;
  font-size: size(small);
  font-weight: weight(medium);
}

.Landing-Btn {
  color: $white;
  background: $primary-color;

  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;

  letter-spacing: 2px;
  font-size: size(small);
  font-weight: weight(regular);

  a {
    color: inherit;
  }
}

// ----------- M O B I L E
@media (max-width: 375px) {
  .Landing-Title {
    font-size: size(regular);
    font-weight: weight(medium);
  }

  .Landing-Subtitle {
    font-size: size(small);
    font-weight: weight(medium);
  }

  .Landing-Item {
    letter-spacing: 1px;
    font-size: size(xx-small);
    font-weight: weight(medium);
  }

  .Landing-Btn {
    letter-spacing: 1px;
    font-size: size(xtra-small);
    font-weight: weight(med-low);
  }
}

// A B O U T - T Y P O G R A P H Y
.About {
  background: $blackBG;
}
.About-Text {
  color: $whiteBG;

  font-size: size(medium);
  font-weight: weight(medium);

  .About-Btn {
    color: $white;
    background: $primary-color;

    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;

    letter-spacing: 2px;
    font-size: size(small);
    font-weight: weight(regular);

    a {
      color: inherit;
    }
  }
}

// ----------- M O B I L E
@media (max-width: 375px) {
  .About-Text {
    color: $whiteBG;

    font-size: size(small);
    font-weight: weight(med-low);

    // text-align: center;

    .About-Btn {
      font-size: size(small);
      font-weight: weight(low);
    }
  }
}
